services:
  backend-api:
    build: .
    container_name: backend-api
    env_file: .env
    ports:
      - "3001:3001"
    restart: unless-stopped
    networks:
      - supabase_default

networks:
  supabase_default:
    external: true
